body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-form {
  width: 380px;
  margin: 50px auto;
  form {
      margin-bottom: 15px;
      background: #fdfdfd;
      box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.3);
      padding: 30px;
  }
  h2 {
    margin: 0 0 15px;
  }
}

.nav-bg {
  background-color: #b83fb8;
  > a {
    color: white;
  }
}

.workflow-title {
  display: flex;
  justify-content: space-between;
}

.workflow-status {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.workflow-name {
  border: 1px solid;
  width: 12rem;
  padding: 0.4rem;
  text-transform: uppercase;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

@mixin icon {
  border-radius: 50%;
  padding: 8px;
  &:hover {
    cursor: pointer;
  }
}

.trash-icon {
  @include icon();
  background-color: red;
  padding: 10px;
}

.completed {
  @include icon();
  background-color: green;
}

.pending {
  @include icon();
  background-color: grey;
}

.inprogress {
  @include icon();
  background-color: blue;
}

.corner {
  position: relative;
  left: 1rem;
  top: -1rem;
}

.workflow-card {
  width: 15rem;
  padding: 5px;
  margin-top: 2rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.section-border {
  border-bottom: 1px solid;
  padding-bottom: 2rem;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}

.task-row {
  display: flex;
  flex-wrap: wrap;
}

.content-area {
  margin-top: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.arrow-tail {
  stroke:black; 
  stroke-width: 1px; 
  fill: none;
  marker-end: url(#arrow);
}
